*.la
*.lo
*.o
.deps/
.dirstamp
.libs/
/autom4te.cache/
/config.log
/config.status
/libtool
/rpm/apl.spec
/stamp-h1
Makefile

/HOWTOs/LApack-primer.pdf

/doc/DALY/apl-library.html

/src/APs/AP100
/src/APs/AP210
/src/APs/APserver

/src/Gtk/Gtk_events1.asciidoc
/src/Gtk/Gtk_events2.asciidoc
/src/Gtk/Gtk_functions.asciidoc
/src/Gtk/Gtk_server

/src/apl

/tools/APL_keyboard
/tools/APL_keyboard_learn
/tools/APL_keyboard_show
/tools/TLV_server
/tools/apl2html
/tools/check_command_def
/tools/filter_apl_lines
/tools/filter_apl_lines2
/tools/lines
/tools/ncurses_emul
/tools/phrase_gen
/tools/sockconst
